use flake
mkdir -p .bin

echo "exec `nix develop --command which haskell-language-server | tail -1` \$@" > .bin/haskell-language-server
echo "exec `nix develop --command which hlint | tail -1` \$@" > .bin/hlint
chmod +x .bin/haskell-language-server
chmod +x .bin/hlint

watch_file blog.project